<!DOCTYPE html>
<html>
<head>
  <title>ProjectWheresWaldo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <%= image_tag "background.jpg", id: "background" %>
  <%= yield %>
</div>

</body>
</html>
